@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Viga&display=swap');
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Luxia";
    src: url("../fonts/Luxia-Display.otf") format("truetype");
    font-weight: 400;
}

 :root {
    --blue: #1d809f;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ecb807;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #e9ecef;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --primary: #1d809f;
    --secondary: #ecb807;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ecb807;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #212529;
    --font1: 'Oxygen', sans-serif;
    --font2: 'Oxygen', sans-serif;
}

.bluebutton {
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    align-self: auto;
    background-color: var(--primary);
    color: var(--gray-300);
    margin: 10% 0;
    filter: drop-shadow(4px 4px 4px var(--gray-900));
    align-self: center;
    padding: 1rem 1.5rem;
}

.darkbutton {
    border: none;
    border-radius: 3%;
    font-size: 1.2rem;
    align-self: auto;
    background-color: var(--dark);
    color: var(--gray-300);
    margin: 10% 0;
    align-self: center;
    padding: 1rem 1.5rem;
    /* filter: drop-shadow(9px 9px 7px var(--gray-900)); */
}

.flexcentered {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-content: center;
}

html,
body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-size: 1em;
    margin: 0;
    color: var(--dark);
    background-color: var(--gray-100);
    overflow-x: hidden;
    position: absolute;
}

ol,
ul {
    list-style: none;
    font-family: var(--font1);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
    font-family: var(--font1);
    font-weight: 700;
}

p {
    text-align: justify;
    font-size: 1.2rem;
    font-family: var(--font2);
}

h1 {
    font-family: var(--font1);
    color: var(--dark);
    font-weight: 700;
    margin: 10% 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
}

header {
    display: flex;
    flex-flow: row nowrap;
}

header .logo {
    display: flex;
    margin-left: 2%;
    padding: 0.5rem 0;
}

.logopic img {
    height: 44px;
    margin: 9% 4%;
}

.logotext {
    font-family: "Luxia";
    font-size: 2rem;
    line-height: 3.5rem;
    margin-left: 0%;
}


/* MENU */

.menuBtn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 21px;
    top: 20px;
    z-index: 101;
}

.menuBtn>span {
    background-color: var(--dark);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;
}

.menuBtn>span:after,
.menuBtn>span:before {
    content: "";
    background-color: var(--dark);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 200ms;
}

.menuBtn>span:after {
    top: -7px;
}

.menuBtn>span:before {
    bottom: -7px;
}

.menuBtn.act>span {
    height: 0;
}

.menuBtn.act>span:after,
.menuBtn.act>span:before {
    background-color: var(--dark);
    top: 1px;
}

.menuBtn.act>span:after {
    transform: rotate(45deg);
}

.menuBtn.act>span:before {
    transform: rotate(-45deg);
}

.mainMenu {
    background-color: var(--gray-100);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
}

.mainMenu.act {
    opacity: 1;
    transform: scale(1);
}

.mainMenu.act ul li {
    opacity: 1;
    transform: translateX(0);
}

.mainMenu ul {
    display: table-cell;
    vertical-align: middle;
    margin-top: -15%;
}

.mainMenu li {
    padding: 7% 0;
    transition: all 400ms 510ms;
    opacity: 0;
}

.mainMenu li:nth-child(odd) {
    transform: translateX(30%);
}

.mainMenu li:nth-child(even) {
    transform: translateX(-30%);
}

.mainMenu li:last-child {
    transform: none;
}

.mainMenu a {
    color: var(--dark);
    display: inline-block;
    font-size: 1.5rem;
}

.mainMenu>ul>li>button>a {
    color: var(--gray-300);
}


/* MENU END */

section.main {
    background-image: url(../imgs/family.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.main .wraper {
    margin-top: 14rem;
}

section.main h1,
section.main p {
    color: var(--white);
}

section.main p {
    padding: 0 1rem;
    line-height: 1.6rem;
    letter-spacing: -1;
    font-weight: 700;
    font-size: 1.3rem;
}

section.services div {
    border: 2px solid var(--gray-500);
    border-radius: 10px;
    margin-top: 0.8rem;
    box-shadow: 3px 3px 7px var(--gray-500);
}

section.services div:hover {
    background-color: var(--primary);
}

section.services div a {
    flex-flow: row nowrap;
}

section.services div a h1 {
    font-size: 1.3rem;
    margin: 0.7rem;
}

section.free {
    margin-top: 10rem;
}

.banks {
    position: relative;
    margin-top: 2rem;
    left: 40rem;
}

.bankwrap {
    flex-flow: row;
    max-height: 100px;
}

.bankwrap img {
    margin-left: 2rem;
    height: 100%;
}

.bouncer-holder {
    -webkit-animation: travel 30s ease-in infinite alternate;
    -o-animation: travel 30s ease-in infinite alternate;
    animation: travel 30s linear infinite alternate;
}

@-webkit-keyframes travel {
    from {
        left: 40rem;
    }
    to {
        left: -40rem;
    }
}

@keyframes travel {
    from {
        left: 40rem;
    }
    to {
        left: -40rem;
    }
}

.contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    padding-bottom: 7%;
    margin-bottom: 0;
}

section.free {
    margin-top: 10rem;
}

.banks {
    position: relative;
    margin-top: 2rem;
    left: 40rem;
}

.bankwrap {
    flex-flow: row;
    max-height: 100px;
}

.bankwrap img {
    margin-left: 2rem;
    height: 100%;
}

.bouncer-holder {
    -webkit-animation: travel 30s ease-in infinite alternate;
    -o-animation: travel 30s ease-in infinite alternate;
    animation: travel 30s linear infinite alternate;
}

@-webkit-keyframes travel {
    from {
        left: 40rem;
    }
    to {
        left: -40rem;
    }
}

@keyframes travel {
    from {
        left: 40rem;
    }
    to {
        left: -40rem;
    }
}

section.free {
    margin-top: 3rem;
}

section.free h1 {
    font-size: 1.3rem;
    width: 80%;
    border-top: 3px solid var(--secondary);
    border-bottom: 3px solid var(--secondary);
    padding: 0.8rem;
    margin: 1.5rem;
}

section.description {
    flex-flow: column-reverse nowrap;
    width: 100%;
    margin-top: 5rem;
}

section.description div {
    padding: 1rem;
}

section.description div p,
section.testimonials .card p {
    margin-top: 2%;
}

section.testimonials {
    width: 100%;
    margin-bottom: 5rem;
}

section.testimonials .card {
    padding: 1rem;
    text-shadow: 0 0 3px var(--white);
}

section.testimonials .card .client-name {
    font-family: var(--font1);
    color: var(--dark);
    margin-bottom: 10%;
    text-align: right;
    width: 100%;
}

section.testimonials .card p.client-name span {
    font-size: 1.8rem;
    font-weight: 700;
    opacity: 1;
}

.contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--secondary);
    width: 100%;
    padding-bottom: 7%;
    margin-bottom: 0;
}

footer.contact>h1 {
    color: var(--gray-100);
    letter-spacing: 0.8rem;
    text-transform: uppercase;
}

#contactForm {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

form {
    font-family: var(--font1);
}

form .form-group {
    margin: 0.3rem;
    width: 90%;
}

form .form-group input,
form .form-group select {
    height: 50px;
    width: 100%;
    font-size: 1.1rem;
    padding-left: 17px;
    padding-right: 0px;
    background-color: var(--gray-100);
    color: var(--gray-800);
    border-color: transparent;
    filter: drop-shadow(4px 4px 4px var(--gray-900));
}

form .form-group:first-child input {
    border-radius: 7px 7px 0 0;
}

form .form-group select {
    border-radius: 0 0 7px 7px;
    font-size: 1.2rem;
}

form .form-group input::placeholder {
    color: var(--gray-dark);
    opacity: 1;
}

form .invalid-feedback,
form .d-none {
    display: none;
}

form button {
    cursor: pointer;
    align-self: center;
    margin: 6%;
    font-size: 1.5rem;
    letter-spacing: 3;
    color: var(--dark);
    font-weight: 700;
    padding: 0.5rem 4rem;
    background-color: var(--gray-100);
    border-radius: 7px;
    border-color: transparent;
    filter: drop-shadow(9px 9px 7px var(--gray-900));
}

.contact .contactwrap {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.contact .contactinfowrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 8% 0;
}

.contact div.contactinfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: var(--gray-100); */
    width: 90%;
    padding-bottom: 10%;
    margin-top: 10%;
    /* filter: drop-shadow(4px 4px 4px var(--gray-900)); */
}

.contact div.contactinfo h1 {
    color: var(--gray-100);
    font-size: 1.9rem;
}

.contact div.contactinfo address {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--font1);
    text-decoration: none;
    font-style: normal;
}

.contact div.contactinfo address a {
    color: var(--gray-100);
}

form .terms {
    width: 87%;
    margin-top: 2%;
    text-align: justify;
}

.last {
    margin-bottom: -5%;
    padding-top: 3%;
    width: 100%;
    text-align: center;
}

.last a {
    color: var(--primary);
    font-size: 0.9rem;
}

.contact .terms label a {
    text-decoration: underline;
}

.licence {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid var(--primary);
}

.licence,
.licence h1,
.licence h2,
.licence h3 .licence ul li p,
.licence p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.licence .personalinfo {
    padding: 2% 0;
}

.licence .rc:last-child {
    padding-bottom: 2%;
}

.licence>div {
    display: flex;
    flex-flow: column;
    width: 90%;
    border-bottom: 1px solid var(--dark);
}

.licence>div:last-child {
    border-bottom: none;
}

.licence ul {
    font-weight: 400;
    list-style: square;
    padding-left: 20px;
    font-family: var(--font1);
    margin: 3% 0;
}

.licence h2,
.licence h3 {
    margin: 4% 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1027px) {}

@media only screen and (min-width: 1027px) {
    nav.mainMenu.act {
        background-color: var(--gray-100);
        width: 37%;
        right: 0;
        left: unset;
    }
    section.main {
        width: 100%;
        background-position: 0 -1rem;
        min-height: 70vh;
        justify-content: flex-end;
        min-height: 76vh;
    }
    section.main h1 {
        margin: 0 0 10rem;
        font-size: 3rem;
    }
    section.main p {
        line-height: 2rem;
        font-size: 1.5em;
        text-align: center;
    }
    section.main .bluebutton {
        margin: 3rem 0 4rem;
    }
    section.services {
        flex-flow: row nowrap;
    }
    section.services div {
        margin: 1.8rem 1rem;
    }
    section.services div a h1 {
        font-size: 1.5rem;
    }
    section.services button {
        margin: 3rem;
    }
    .banks {
        left: 5rem;
    }
    .bouncer-holder {
        -webkit-animation: travel 10s ease-in infinite alternate;
        -o-animation: travel 10s ease-in infinite alternate;
        animation: travel 10s linear infinite alternate;
    }
    @-webkit-keyframes travel {
        from {
            left: 5rem;
        }
        to {
            left: -5rem;
        }
    }
    @keyframes travel {
        from {
            left: 5rem;
        }
        to {
            left: -5rem;
        }
    }
    section.free {
        margin-top: 3rem;
    }
    section.description {
        flex-flow: row nowrap;
        border-top: 2px solid var(--secondary);
    }
    section.description div {
        padding: 3rem 8rem;
    }
    section.testimonials {
        flex-flow: row nowrap;
        border-top: 2px solid var(--secondary);
        border-bottom: 2px solid var(--secondary);
    }
    section.testimonials img,
    section.description img,
    section.description div {
        width: 50%;
    }
    section.testimonials .card {
        padding: 3rem 8rem;
        width: 50%;
    }
    .contact .contactwrap {
        margin-bottom: unset;
    }
    footer.contact>h1 {
        margin: 5% 0 1%;
    }
    .contact .contactinfowrap {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 8% 0;
        width: 62%;
    }
    #contactform {
        width: 71%;
    }
    form .form-group {
        margin: 0.5%;
    }
    form .form-group input,
    form .form-group select {
        height: 70px;
        padding-left: 5%;
    }
    form .form-group select {
        font-size: 1.3rem;
        letter-spacing: 1;
    }
    .contact div.contactinfo {
        width: 40%;
        padding: unset;
        margin: unset;
        height: 100%;
    }
    .contact div.contactinfo address {
        max-width: 500px;
    }
    .last {
        margin-bottom: -6%;
        padding-top: 6%;
    }
    .licence {
        margin-top: 3%;
        width: 80%;
    }
    .licence>div {
        width: 80%;
    }
    .licence h1 {
        font-size: 1.2rem;
        max-width: 70%;
        align-self: center;
        letter-spacing: unset;
    }
    .licence h2,
    .licence h3 {
        margin: 2% 0;
    }
}